<section class="vh-100">
    <div class="container h-100">
      <div class="login__content row d-flex align-items-center justify-content-center h-100">
        <div class="col-md-8 col-lg-7 col-xl-6">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
            class="img-fluid" alt="Phone image">
        </div>
        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1" >
          <form [formGroup]="loginForm">

            <div class="form-outline mb-4">
              <input type="email" id="form1Example13" formControlName="email" placeholder="Email" class="form-control form-control-lg" />
                <div class="login__error-form" *ngIf="loginForm.get('email')?.errors?.['required']&&loginForm.get('email')?.touched">
                  *Email obrigatório
                </div>
            </div>
  
     
            <div class="form-outline mb-4">
              <input type="password" formControlName="password" id="form1Example23"  placeholder="Senha" class="form-control form-control-lg" />
              <div class="login__error-form" *ngIf="loginForm.get('password')?.errors?.['required']&&loginForm.get('password')?.touched">
                *Senha obrigatória
              </div>
            </div>
  
            <button [disabled]="loginForm.invalid" type="submit"  class="btn btn-primary btn-login" (click)="onSubmit()">
              <span>
                  Entrar
              </span>
              <span>
                <img class="login__arrow" src="assets/imgs/arrowRight.svg" alt="seta para direita">
              </span> 
            </button>
  
          </form>
        </div>
      </div>
    </div>
  </section>