.container {
    padding: 0 24px;
}

.login__title {
    text-align: center;
    margin: 20px 0;
}

.login__error-form {
    color: #ff0000;
    text-align: inherit;
    font-size: 12px;
    font-weight: 600;
}

.btn-login {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 14px 16px;
    margin: 24px 0;
    border-radius: 8px;
    border: none;
    background: #2a77f3;
    transition: background .3s;
}

.btn-login:hover {
    background-color: #1266f1
}

.login__arrow {
    width: 24PX;
}

@media(max-width: 678px) {
    .login__content {
        justify-content: space-between;
    }
}