<nav class="navbar bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand">Autenticacao com JWT</a>
      <a class="navbar-brand">Logout</a>
    </div>
  </nav>



<div class="home__container">
    <div class="home__content-img">
      <h3>{{ message }}</h3>
        <img src="assets/imgs/auth-img.svg" alt="">
      </div>
</div>


<nav class="navbar footer bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand">Vidal Dev Consultoria &copy; 2023</a>
  </div>
</nav>
 

