.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.home__content-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.home__content-img img {
    width: 250px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}